* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #fffcfa;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: #6b7280;
  color: #fff;
  width: 250px;
  padding: 1rem;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
}

.sidebar h2 {
  margin-bottom: 1.5rem;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin-bottom: 1rem;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
}

.sidebar nav ul li a:hover {
  background-color: #c72055;
}

.btn-logout {
  background-color: #f01259;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.main-content {
  flex: 1;
  padding: 2rem;
  margin-left: 250px;
  background-color: #fff;
  height: 100vh;
  overflow-y: auto;
}

h2 {
  margin-bottom: 1rem;
}

form {
  margin-bottom: 1.5rem;
}

form h3 {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin: 0.5rem 0;
}

form input,
form textarea,
form select,
form button {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

form textarea {
  height: 100px;
}

form select {
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

form button {
  background-color: #f04e30;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

form button:hover {
  background-color: #d43f1e;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}
